version: "3.9"

services:
  # MySQL Database
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ppg
      MYSQL_USER: ppgroot
      MYSQL_PASSWORD: pembinaangenerus
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-prootpassword",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Backend Application
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: mysql://ppgroot:pembinaangenerus@mysql-db:3306/ppg
      SECRET: 76973f48ffeeb8c96a7994ba29f9ba05
      PORT: 3000
      NODE_ENV: production
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - uploads:/app/uploads
    networks:
      - backend-network
    command: sh -c "npx prisma migrate deploy && node dist/main.js"

networks:
  backend-network:
    driver: bridge

volumes:
  mysql_data:
  uploads:
