version: "3.9"

services:
  # MySQL Database
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ppg
      MYSQL_USER: ppgroot
      MYSQL_PASSWORD: pembinaangenerus
    ports:
      - "5506:5506"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-prootpassword",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend-network

  # Backend Application
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-app
    restart: always
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql://ppgroot:pembinaangenerus@mysql-db:3306/ppg
      SECRET: 76973f48ffeeb8c96a7994ba29f9ba05
      PORT: 5000
      NODE_ENV: production
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - uploads:/app/uploads
    networks:
      - backend-network
    command: sh -c "npx prisma migrate deploy && node dist/index.js"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-app
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql-db
      PMA_PORT: 3306
      PMA_USER: ppgroot
      PMA_PASSWORD: pembinaangenerus
      MYSQL_ROOT_PASSWORD: rootpassword
      UPLOAD_LIMIT: 100M
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  backend-network:
    driver: bridge

volumes:
  mysql_data:
  uploads:
